{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/CentroDeBowling/static/css/home.css">
</head>
<body>
    <header class="header">
        <div class="menu container">
            <a href="#" class="logo">Logo</a>
            <input type="checkbox" id="menu">
            <label for="menu">
                <img src="/CentroDeBowling/static/img/hero-bg.jpg" class="menu-icono" alt="">
            </label>
            <nav class="navbar">
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Servicios</a></li>
                    <li><a href="#">Productos</a></li>
                    <li><a href="#">Contacto</a></li>
                </ul>
            </nav>
        </div>
        <div class="header-content container">
            <h1>Centro Bowling</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur blanditiis corrupti accusamus quia nulla optio vitae aspernatur error cumque. Eius nostrum quasi quae vero. Hic labore sit impedit dolores illo.</p>
            <a href="#" class="btn-1">Informacion</a>
        </div>
    </header>
    <section class="general container">
        <h2>Cafeteria</h2>
        <div class="general-content">
        <div class="general-1 txt">
            <h3>Bebidas</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum iste soluta sequi quisquam veniam repudiandae hic quia suscipit alias porro, ad ducimus rerum, quasi, aliquid voluptates exercitationem molestiae commodi quis!</p>
        </div>
        <div class="general-1 txt">
            <h3>Bebidas</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum iste soluta sequi quisquam veniam repudiandae hic quia suscipit alias porro, ad ducimus rerum, quasi, aliquid voluptates exercitationem molestiae commodi quis!</p>
        </div>
        <div class="general-1 txt">
            <h3>Bebidas</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum iste soluta sequi quisquam veniam repudiandae hic quia suscipit alias porro, ad ducimus rerum, quasi, aliquid voluptates exercitationem molestiae commodi quis!</p>
        </div>
        </div>
    </section>
    <section class="info-1">
        <div class="info-content container">
            <h2>Informacion</h2>
            <div class="info-circle">
                <div class="circle-txt">
                    <div class="circle-1">
                        <h2>8000 M</h2>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor voluptate velit error provident, ea quibusdam enim nulla. Aut repudiandae consequatur nostrum! Voluptas a facilis odio nisi facere minima quisquam distinctio?</p>
                </div>
                <div class="circle-txt">
                    <div class="circle-1">
                        <h2>8000 M</h2>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor voluptate velit error provident, ea quibusdam enim nulla. Aut repudiandae consequatur nostrum! Voluptas a facilis odio nisi facere minima quisquam distinctio?</p>
                </div>
                <div class="circle-txt">
                    <div class="circle-1">
                        <h2>8000 M</h2>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor voluptate velit error provident, ea quibusdam enim nulla. Aut repudiandae consequatur nostrum! Voluptas a facilis odio nisi facere minima quisquam distinctio?</p>
                </div>
            </div>
        </div>
    </section>
    <section class="general g2 container">
        <h2>Nuestro equipo</h2>
        <div class="general-content">
        <div class="general-4 txt">
            <h3>Persona 1</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum iste soluta sequi quisquam veniam repudiandae hic quia suscipit alias porro, ad ducimus rerum, quasi, aliquid voluptates exercitationem molestiae commodi quis!</p>
        </div>
        <div class="general-5 txt">
            <h3>Persona 2</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum iste soluta sequi quisquam veniam repudiandae hic quia suscipit alias porro, ad ducimus rerum, quasi, aliquid voluptates exercitationem molestiae commodi quis!</p>
        </div>
        <div class="general-6 txt">
            <h3>Persona 3</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum iste soluta sequi quisquam veniam repudiandae hic quia suscipit alias porro, ad ducimus rerum, quasi, aliquid voluptates exercitationem molestiae commodi quis!</p>
        </div>
        </div>
    </section>
    <section class="info-2">
        <div class="info-content container">
            <h2>Tenstimonios</h2>
            <div class="testi">
                <div class="testi-left">
                    <div class="testi-txt">
                        <img src="" alt="">
                        <h3>Lorem</h3>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit est accusamus dolor totam pariatur tempora asperiores magni a sunt, laboriosam amet rem nostrum provident inventore id assumenda, voluptatum maxime! Molestias.</p>
                    </div>
                    <div class="testi-txt">
                        <img src="" alt="">
                        <h3>Lorem</h3>
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit est accusamus dolor totam pariatur tempora asperiores magni a sunt, laboriosam amet rem nostrum provident inventore id assumenda, voluptatum maxime! Molestias.</p>
                    </div>
                    <div class="testi-right">
                        <div class="testi-txt">
                            <img src="" alt="">
                            <h3>Lorem</h3>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit est accusamus dolor totam pariatur tempora asperiores magni a sunt, laboriosam amet rem nostrum provident inventore id assumenda, voluptatum maxime! Molestias.</p>
                        </div>
                        <div class="testi-txt">
                            <img src="" alt="">
                            <h3>Lorem</h3>
                            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit est accusamus dolor totam pariatur tempora asperiores magni a sunt, laboriosam amet rem nostrum provident inventore id assumenda, voluptatum maxime! Molestias.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>
{% endblock %}
