{% extends 'base.html' %}

{% block content %}
    <div class="reserva">
        <h2>Reserva para el dia {{ reserva.dia_reserva }}</h2>
        <h3>Reserva en la hora {{ reserva.hora_reserva}}</h3>
        <div class="jugadores">
            <h3>Jugadores</h3>
            {% for jugador in reserva.jugadores.all %}
                <p>{{ jugador.nombre }}, {{ jugador.resumido}}</p>
            {% endfor %}
        </div>
        <br>
        <h3>Estado de la reserva <u>{{reserva.estado_reserva}}</u></h3>
        {% if reserva.estado_reserva.pk == 1%}
            <form action=""  method="post">
                {% csrf_token %}
                <button class="cancelar">Cancelar reserva</button>
            </form>
    </div>

    
    {% endif %}
{% endblock %}